
body{
    padding: 0;
    margin: 0;
    background-color: #240115;
}

.logo{
    width: 50%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    background-color: #F2542D;
    padding: 0px;
}

.nav{
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.first-flex{
    display: flex;
    width: 75%;
    margin: auto;
    margin-top: 5%;
    background-color: #00CFC1;
}

h2{
    text-align: center;
    font-size: xx-large;
}

p{
    margin: 10px;
}

.center-flex{
    display: flex;
    flex-flow: column;
    width: 50%;
    margin: auto;
    background-color: #D6D84F;
}

.image-flex{
    display: flex;
    flex-flow: row;
    height: 150px;
}

.image{
    width: 33.333%;
    object-fit: cover;
}

.main-image{
    width: 50%;
}

.banner-image{
    height: 150px;
    margin-bottom: 50px;
    object-fit: cover;
}