header {
    display: flex;
}

#nav {
    justify-self: right;
}

#landingimage {
    display: flex;
}

.icon {
   
    width: 20%;
}

.image-box {
    display: flex;
    flex-direction: column;
}

#products-row {
    display: flex;
 
}